#row{
    background-color: blue;
    border-radius: 20px;
    display: flex;
    /* justify-content:space-between; */
    align-items:baseline;
    flex-wrap:nowrap;
    /* height:500px; */
    gap:10px;
    width:400px;
}













#column{
    background-color: blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    height:900px;
}


.block{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    min-width: 300px;
    width:200px;
    height: 200px;
    background-color: orange;
    color: black;
    font-weight: 600;
    font-size: 30px;
    border-radius: 20px;
    /* margin: 5px; */
}